@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj na stronie wielozadaniowej!</h1>
    <p>Nasze funkcjonalne zakładki pomogą Ci w życiu codziennym!</p>
</div>
