@{
    ViewData["Title"] = "Home Page";
}


<div class="content mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="text-center">
                    <h1 class="display-4">Witaj na stronie do zarządzania zbiorem księgarni!</h1>
                    <p>Aby wyświetlić bądź edytować listę książek przejdź do zakładki "Lista książek"</p>
                </div>
            </div>
        </div>
    </div>
</div>
