﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - proj3</title>
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/css/now-ui-dashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/css/now-ui-dashboard.min.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="orange">
            <div class="logo">
                <a asp-controller="Home" asp-action="Index" class="simple-text logo-mini">KZ</a>
                <a asp-controller="Home" asp-action="Index" class="simple-text logo-normal">Księgarnia Zaplecze</a>
            </div>
            <div class="sidebar-wrapper" id="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a asp-area="" asp-controller="Book" asp-action="Index">
                            <i class="now-ui-icons education_agenda-bookmark"></i>
                            <p>Lista książek</p>
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Sales" asp-action="Index">
                            <i class="now-ui-icons business_briefcase-24"></i>
                            <p>Sprzedaż</p>
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Stats" asp-action="Index">
                            <i class="now-ui-icons business_chart-bar-32"></i>
                            <p>Statystyki</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>