@page
@model FormModel

<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ankieta</title>
</head>
<body>
    <h2>Ankieta dotycząca kotów</h2>

    <form method="post">
        <div class="form-group">
            <label for="Name">Imię</label>
            <input type="text" id="Name" name="Name" class="form-control" asp-for="Name" />
            <span class="error" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label for="Email">Adres email</label>
            <input type="email" id="Email" name="Email" class="form-control" asp-for="Email" />
            <span class="error" asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label for="Message">Dlaczego lubisz koty?</label>
            <textarea id="Message" name="Message" class="form-control" asp-for="Message"></textarea>
            <span class="error" asp-validation-for="Message"></span>
        </div>
        <button type="submit" class="button">Wyślij</button>
    </form>

    @if (Model.IsFormSubmitted && Model != null)
    {
        <div class="preview">
            <h3>Dane wprowadzone przez użytkownika:</h3>
            <p><strong>Imię:</strong> @Model.Name</p>
            <p><strong>Email:</strong> @Model.Email</p>
            <p><strong>Wiadomość:</strong> @Model.Message</p>

            <form method="post" asp-page-handler="Confirm">
                <button type="submit" class="button">Zatwierdź</button>
            </form>
        </div>
    }
</body>
</html>
