@page
@model IndexModel

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Start</title>
    <style>
        .button {
            display: inline-block; /* Zmiana z block na inline-block */
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none; /* Usuwa podkreślenie z linku */
            margin: 20px auto; /* Dodaje przestrzeń powyżej i wyśrodkowuje przycisk */
            max-width: 200px; /* Maksymalna szerokość przycisku */
        }

            .button:hover {
                background-color: #0056b3; /* Ciemniejszy kolor przy hover */
            }

        h2 {
            margin: 20px 0 30px; /* Zwiększenie marginesu poniżej nagłówka */
        }
    </style>
</head>

<div class="text-center">
    <h1 class="display-4">Cześć</h1>
    <p>Zapraszamy do eksplorowania naszej przepięknej strony.</p>
    <h2 class="display-4">Zachęcamy do wzięcia udziału w ankiecie:</h2>
    <a asp-page="/Form" class="button">Kliknij tutaj!</a>
</div>
