@page
@model KotkiModel

<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kotki</title>
</head>
<body>
    <h1>Kotki</h1>
    <p>Teraz możesz poptarzeć na przeurocze zdjęcia kotków:</p>
    <div>
        <img src="https://th.bing.com/th/id/OIP.gLsqJhIHfbZOIS7vqUvMTAHaFj?rs=1&pid=ImgDetMain" alt="Kot 1" style="width:300px; height:auto;" />
        <img src="https://2.bp.blogspot.com/-DZ3p7uMBcnA/VHsb-ghPXpI/AAAAAAAAAqg/MmsqJgkSioo/s1600/obrazek%2Bna%2Bbloga.jpg" alt="Kot 2" style="width:300px; height:auto;" />

    </div>
</body>
</html>
