@{
    ViewData["Title"] = "O Nas";
}

<h1>@ViewData["Title"]</h1>
<p>Dowiedz się więcej o naszej firmie, jej historii oraz misji.</p>

<h3>Nasza historia</h3>
<p>Opis historii firmy...</p>

<h3>Nasza misja</h3>
<p>Opis misji i celów firmy...</p>

<h3>Zespół</h3>
<p>Opis zespołu...</p>
