@{
    ViewData["Title"] = "Polityka Prywatności";
}

<h1>@ViewData["Title"]</h1>
<p>Witamy w naszej Polityce Prywatności. Tutaj znajdziesz informacje dotyczące tego, jak zbieramy, wykorzystujemy i chronimy twoje dane osobowe.</p>

<h3>Jakie dane zbieramy?</h3>
<p>Opis danych, które zbieramy...</p>

<h3>Jak używamy Twoich danych?</h3>
<p>Opis, w jaki sposób wykorzystujemy dane...</p>

<h3>Bezpieczeństwo danych</h3>
<p>Opis zabezpieczeń danych użytkowników...</p>
