@{
    ViewData["Title"] = "Warunki Użytkowania";
}

<h1>@ViewData["Title"]</h1>
<p>Przeczytaj nasze warunki użytkowania przed skorzystaniem z naszej strony. Korzystając z naszego serwisu, akceptujesz poniższe zasady.</p>

<h3>Ogólne warunki</h3>
<p>Opis ogólnych warunków użytkowania...</p>

<h3>Zakazy i obowiązki</h3>
<p>Zakazy dotyczące korzystania z usług...</p>

<h3>Zmiany w warunkach</h3>
<p>Opis jak mogą zmieniać się warunki użytkowania...</p>
