@model proj3.Models.BookModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Edytuj książkę";
}

<h1>Edytuj Książkę</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div>
        <label>Tytuł</label>
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div>
        <label>Autor</label>
        <input asp-for="Author" />
        <span asp-validation-for="Author"></span>
    </div>
    <div>
        <label>Cena</label>
        <input asp-for="Price" />
        <span asp-validation-for="Price"></span>
    </div>
    <button type="submit">Zapisz</button>
    <a asp-action="Index">Powrót do listy</a>
</form>
